/* VARIABLES:*/
/* MIXIN PARA ESTRUCTURAS:*/
/* MIXIN PARA BREACKPOINTS/MEDIAQUERIES*/
/* RESETEOS*/
*,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
}

/* boton nav */
.boton_nav {
  background: linear-gradient(rgba(232, 1, 94, 0.897), rgb(232, 134, 232));
  color: white;
  border: none;
}
.boton_nav:hover {
  background: linear-gradient(rgba(255, 106, 165, 0.871), rgb(232, 134, 232));
  color: black;
  border: 1px solid black;
}

/* BOTON PRODUCTOS DESTACADO PAGINA INDEX */
.boton__shop {
  background: linear-gradient(rgba(232, 1, 94, 0.897), rgb(232, 134, 232));
  border: black 1px solid;
  color: white;
  margin: auto;
  width: 10rem;
  margin: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.boton__shop:hover {
  background: linear-gradient(rgba(255, 106, 165, 0.871), rgb(232, 134, 232));
  color: black;
  color: black;
  border: solid black 1px;
}

/* BOTON FORMULARIO PRODUCTOS */
.formulario__boton {
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(rgba(232, 1, 94, 0.897), rgb(232, 134, 232));
  color: white;
  gap: 1rem;
  padding: 0.2rem;
}
.formulario__boton:hover {
  background: linear-gradient(rgba(255, 106, 165, 0.871), rgb(232, 134, 232));
  color: black;
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .formulario__boton {
    width: 10vw;
    min-height: 9vh;
  }
}

/*  CONTACTO*/
.form__botones {
  background: linear-gradient(rgba(232, 1, 94, 0.897), rgb(232, 134, 232));
  border: black 1px solid;
  color: white;
  margin: auto;
  width: 10rem;
  margin: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 10px 10px 10px 10px;
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .form__botones {
    width: 15vw;
    min-height: 5vh;
  }
}

.form__checkbox {
  width: 100px;
  margin: auto;
}

.form__selector {
  border-radius: 10px 10px 10px 10px;
  width: 150px;
}

.form__input {
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* FOOTER */
.footer__redes {
  border-top: 1px solid black;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 0.8rem;
}
.footer__redes i {
  color: black;
}
.footer__direccion {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 0.8rem;
  padding: 0.5rem;
}
.footer__copyright {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  padding: 0.5rem;
}

.nav-link:hover {
  background: linear-gradient(rgba(255, 106, 165, 0.871), rgb(232, 134, 232));
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* portada del index */
.foto__portada {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.foto__portada img {
  width: 50vw;
  margin-top: 60px;
}
@media (min-width: 400px) and (max-width: 570px) {
  .foto__portada img {
    width: 45vw;
  }
}
@media (min-width: 571px) and (max-width: 789px) {
  .foto__portada img {
    width: 25vw;
  }
}
@media (min-width: 790px) and (max-width: 1220px) {
  .foto__portada img {
    width: 25vw;
  }
}
@media (min-width: 1221px) and (max-width: 1608px) {
  .foto__portada img {
    width: 20vw;
  }
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .foto__portada img {
    width: 17vw;
  }
}

/* PRESENTACION  */
.presentacion {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.presentacion img {
  width: 90vw;
}
.presentacion__texto {
  background: linear-gradient(rgba(0, 0, 0, 0.997), rgb(75, 5, 75));
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 1rem;
  margin-top: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 10px 10px 10px 10px;
}
.presentacion__titulo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media (min-width: 400px) and (max-width: 570px) {
  .presentacion__articulo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .presentacion__texto {
    text-align: center;
    width: 90vw;
  }
}
@media (min-width: 571px) and (max-width: 789px) {
  .presentacion__articulo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .presentacion__texto {
    text-align: center;
    width: 70vw;
  }
  .presentacion img {
    width: 75vw;
    flex-direction: column;
    align-self: center;
  }
}
@media (min-width: 790px) and (max-width: 1220px) {
  .presentacion {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .presentacion img {
    width: 50vw;
  }
  .presentacion__texto {
    font-size: 1.1rem;
  }
}
@media (min-width: 1221px) and (max-width: 1608px) {
  .presentacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .presentacion__texto {
    width: 40vw;
  }
  .presentacion img {
    width: 40vw;
  }
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .presentacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .presentacion__texto {
    width: 35vw;
  }
  .presentacion img {
    width: 35vw;
  }
}

/* seccion de productos destacados */
.productos__destacados {
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: rgba(244, 171, 244, 0.249);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .productos__destacados {
    font-size: 1.5rem;
  }
}

.productos__titulo-principal {
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: rgba(244, 171, 244, 0.249);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .productos__titulo-principal {
    font-size: 1.5rem;
  }
}

/* SECCION CAPSULAS*/
.capsulas {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.capsulas article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.capsulas__texto {
  font-size: 1rem;
  text-align: center;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.997), rgb(75, 5, 75));
  border-radius: 10px 10px 10px 10px;
  font-size: 0.8rem;
  padding: 1rem;
  margin: 0.5rem;
}
.capsulas img {
  width: 55vw;
}
@media (min-width: 400px) and (max-width: 570px) {
  .capsulas img {
    width: 50vw;
  }
  .capsulas__texto {
    width: 55vw;
    font-size: 1.1rem;
    text-align: center;
  }
  .capsulas__texto h2 {
    font-size: 1.2rem;
  }
}
@media (min-width: 571px) and (max-width: 789px) {
  .capsulas img {
    width: 35vw;
  }
  .capsulas__texto {
    width: 30vw;
    border: none;
    font-size: 1rem;
    text-align: center;
  }
  .capsulas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  .capsulas :nth-child(3) {
    grid-column: span 2;
  }
}
@media (min-width: 790px) and (max-width: 1220px) {
  .capsulas img {
    width: 20vw;
  }
  .capsulas h2 {
    font-size: 1.1rem;
  }
  .capsulas__texto {
    width: 25vw;
    border: none;
    font-size: 1.1rem;
    text-align: center;
  }
  .capsulas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}
@media (min-width: 1221px) and (max-width: 1608px) {
  .capsulas img {
    width: 15vw;
  }
  .capsulas h2 {
    font-size: 0.8rem;
  }
  .capsulas__texto {
    width: 20vw;
    border: none;
    font-size: 1rem;
    text-align: center;
  }
  .capsulas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;
  }
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .capsulas img {
    width: 15vw;
  }
  .capsulas h2 {
    font-size: 1rem;
  }
  .capsulas__texto {
    width: 20vw;
    border: none;
    font-size: 1.1rem;
    text-align: center;
  }
  .capsulas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;
  }
}

/* FORMULARIO DE NOVEDADES */
.formulario {
  background: linear-gradient(rgba(0, 0, 0, 0.997), rgb(75, 5, 75));
  border-radius: 10px 10px 10px;
  padding: 0.8rem;
  margin: 10px;
}
.formulario__titulo {
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  color: white;
}
.formulario__subscripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}
.formulario__icono {
  color: white;
}
@media (min-width: 571px) and (max-width: 789px) {
  .formulario {
    width: 60vw;
    margin: auto;
  }
}
@media (min-width: 790px) and (max-width: 1220px) {
  .formulario {
    width: 45vw;
    margin: auto;
  }
}
@media (min-width: 1221px) and (max-width: 1608px) {
  .formulario {
    width: 35vw;
    margin: auto;
  }
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .formulario {
    width: 35vw;
    margin: auto;
  }
  .formulario__titulo {
    font-size: 1.5rem;
  }
}

/* GALERIA DE PRODCUTOS */
.productos {
  margin-top: 10px;
  border-top: solid black 1px;
}
.productos div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}
.productos img {
  width: 45vw;
}
.productos__titulo {
  text-align: center;
  font-size: 1rem;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.997), rgb(75, 5, 75));
  color: white;
  padding: 0.5rem;
  align-items: center;
  margin: 0.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media (min-width: 500px) and (max-width: 600px) {
  .productos img {
    width: 30vw;
  }
  .productos__div {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    justify-content: space-around;
    align-items: center;
  }
  .productos__titulo {
    font-size: 0.8rem;
    width: 25vw;
  }
}
@media (min-width: 571px) and (max-width: 789px) {
  .productos img {
    width: 25vw;
  }
  .productos__div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .productos__titulo {
    font-size: 0.8rem;
  }
}
@media (min-width: 790px) and (max-width: 1220px) {
  .productos img {
    width: 20vw;
  }
  .productos__div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .productos__titulo {
    font-size: 0.8rem;
  }
}
@media (min-width: 1221px) and (max-width: 1608px) {
  .productos img {
    width: 15vw;
  }
  .productos__div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .productos img {
    width: 12vw;
  }
  .productos__div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .productos__titulo {
    font-size: 1.1rem;
  }
}

/*# PREGUNTAS FRECUENTES*/
.preguntas__frecuentes-titulo {
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: rgba(244, 171, 244, 0.249);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .preguntas__frecuentes-titulo {
    font-size: 1.5rem;
  }
}

.preguntas {
  background: linear-gradient(rgba(0, 0, 0, 0.997), rgb(75, 5, 75));
  margin-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 0.9rem;
  padding: 1rem;
  color: white;
}
.preguntas__titulo {
  text-align: center;
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.preguntas__tarjetas {
  width: 10vw;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
@media (min-width: 571px) and (max-width: 789px) {
  .preguntas {
    width: 80vw;
    text-align: center;
    font-size: 0.9rem;
    padding: 1rem;
    border-radius: 10px 10px 10px 10px;
    margin: auto;
  }
}
.preguntas__tarjetas {
  width: 6vw;
}
@media (min-width: 790px) and (max-width: 1220px) {
  .preguntas {
    width: 70vw;
    font-size: 0.9rem;
    margin: auto;
  }
  .preguntas__tarjetas {
    width: 4vw;
  }
}
@media (min-width: 1221px) and (max-width: 1608px) {
  .preguntas {
    width: 80vw;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 10px 10px 10px 10px;
    margin: auto;
  }
  .preguntas__titulo {
    text-align: center;
    font-size: 1rem;
  }
  .preguntas__tarjetas {
    width: 2vw;
    margin: 10px;
  }
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .preguntas {
    width: 80vw;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 10px 10px 10px 10px;
    margin: auto;
  }
  .preguntas__titulo {
    text-align: center;
    font-size: 1.1rem;
  }
  .preguntas__tarjetas {
    width: 2vw;
    margin: 10px;
  }
}

/* GALERIA DE FOTOS:*/
.preguntas__galeria {
  width: 60vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
@media (min-width: 571px) and (max-width: 789px) {
  .preguntas__galeria img {
    border-radius: 10px 10px 10px 10px;
    width: 60vw;
  }
  .preguntas__galeria {
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 790px) and (max-width: 1220px) {
  .preguntas__galeria img {
    border-radius: 20px 20px 20px 20px;
  }
  .preguntas__galeria {
    width: 24vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 1221px) and (max-width: 1608px) {
  .preguntas__galeria img {
    border-radius: 20px 20px 20px 20px;
  }
  .preguntas__galeria {
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .preguntas__galeria img {
    border-radius: 20px 20px 20px 20px;
  }
  .preguntas__galeria {
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.nosotros__titulo {
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: rgba(244, 171, 244, 0.249);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .nosotros__titulo {
    font-size: 1.5rem;
  }
}

@media (min-width: 1221px) and (max-width: 1608px) {
  .foto__portada {
    width: 50vw;
    margin: auto;
  }
}

/* SEGUNDA FOTO PORTDA DE LA SECCION*/
@media (min-width: 790px) and (max-width: 1220px) {
  .nosotros__portada {
    width: 80vw;
    margin-left: 10%;
  }
}
@media (min-width: 1221px) and (max-width: 1608px) {
  .nosotros__portada {
    width: 50vw;
    margin-left: 25%;
  }
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .nosotros__portada {
    width: 45vw;
    margin-left: 27%;
  }
}

/* CARRUSEL*/
.carrusel__nosotros {
  margin-bottom: 20px;
}

.nosotros {
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  margin-top: 20px;
  /* TEXTO */
}
.nosotros__texto {
  width: 60vw;
  background: linear-gradient(rgba(0, 0, 0, 0.997), rgb(75, 5, 75));
  border-radius: 5px 5px 5px 5px;
  font-size: 1rem;
  padding: 0.8rem;
  margin: 0.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  color: white;
}
@media (min-width: 1221px) and (max-width: 1608px) {
  .nosotros__texto {
    width: 30vw;
    border-radius: 30px 30px 30px 30px;
  }
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .nosotros__texto {
    width: 30vw;
    border-radius: 30px 30px 30px 30px;
  }
}
@media (min-width: 1221px) and (max-width: 1608px) {
  .nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr 1fr);
    grid-template-rows: 2;
  }
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr 1fr);
    grid-template-rows: 2;
  }
}

.form__titulo {
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: rgba(244, 171, 244, 0.249);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .form__titulo {
    font-size: 1.5rem;
  }
}

/* Texto principal de comunicate*/
.comunicate {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.comunicate__text {
  background: linear-gradient(rgba(0, 0, 0, 0.997), rgb(75, 5, 75));
  border-radius: 10px 10px 10px 10px;
  font-size: 1rem;
  padding: 0.8rem;
  margin: 0.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  gap: 1rem;
  color: white;
}
@media (min-width: 901px) and (max-width: 1224px) {
  .comunicate__text {
    width: 25vw;
    min-height: 60vh;
    background: none;
    font-size: 1.2rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}
@media (min-width: 1221px) and (max-width: 1608px) {
  .comunicate__text {
    width: 30vw;
    background: none;
    font-size: 1.2rem;
    padding: 0rem;
  }
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .comunicate__text {
    width: 30vw;
    background: none;
    font-size: 1.4rem;
    padding: 0rem;
  }
}
.comunicate__iconos {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 0.5rem;
}
.comunicate__iconos a {
  text-decoration: none;
  color: white;
}
.comunicate__iconos i {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  gap: 0.5rem;
}
@media (min-width: 901px) and (max-width: 1224px) {
  .comunicate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.997), rgb(75, 5, 75));
    gap: 0.5rem;
  }
}
@media (min-width: 1221px) and (max-width: 1608px) {
  .comunicate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.997), rgb(75, 5, 75));
    gap: 0.5rem;
  }
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .comunicate {
    background: linear-gradient(rgba(0, 0, 0, 0.997), rgb(75, 5, 75));
  }
}

/* formulario de consulta:*/
.form {
  background: linear-gradient(rgba(0, 0, 0, 0.997), rgb(75, 5, 75));
  border-radius: 10px 10px 10px 10px;
  font-size: 1rem;
  padding: 0.8rem;
  margin: 0.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
  color: linear-gradient(rgba(0, 0, 0, 0.997), rgb(75, 5, 75));
  color: white;
}
.form__input {
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .form__input {
    font-size: 1.3rem;
  }
}
.form__espacio {
  border-radius: 10px 10px 10px 10px;
  border: none;
}
@media (min-width: 901px) and (max-width: 1224px) {
  .form__espacio {
    border-radius: 1px 1px 1px 1px;
    width: 30vw;
  }
}
@media (min-width: 1221px) and (max-width: 1608px) {
  .form__espacio {
    border-radius: 1px 1px 1px 1px;
    width: 30vw;
  }
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .form__espacio {
    border-radius: 1px 1px 1px 1px;
    width: 30vw;
  }
}
.form__asunto {
  margin-top: 0.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  gap: 1rem;
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .form__asunto {
    font-size: 1.3rem;
  }
}
.form__texto {
  margin-top: 0.2rem;
  border: none;
  border-radius: 15px 15px 15px 15px;
}
@media (min-width: 901px) and (max-width: 1224px) {
  .form__texto {
    border-radius: 1px 1px 1px 1px;
    width: 30vw;
  }
}
@media (min-width: 1221px) and (max-width: 1608px) {
  .form__texto {
    border-radius: 1px 1px 1px 1px;
    width: 30vw;
  }
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .form__texto {
    border-radius: 1px 1px 1px 1px;
    width: 30vw;
  }
}
@media (min-width: 901px) and (max-width: 1224px) {
  .form {
    width: 30vw;
    background: none;
  }
}
@media (min-width: 1221px) and (max-width: 1608px) {
  .form {
    width: 30vw;
    background: none;
  }
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .form {
    width: 30vw;
    background: none;
  }
}

/* Mapa:*/
.mapa {
  border-top: 1px solid black;
}
.mapa__google {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
@media (min-width: 601px) and (max-width: 900px) {
  .mapa__google {
    width: 60vw;
    margin: auto;
  }
}
@media (min-width: 901px) and (max-width: 1224px) {
  .mapa {
    margin-top: 16px;
  }
  .mapa__google {
    width: 70vw;
    margin: auto;
  }
}
@media (min-width: 1221px) and (max-width: 1608px) {
  .mapa__google {
    width: 60vw;
    margin: auto;
  }
}
@media (min-width: 1609px) and (max-width: 1920px) {
  .mapa__google {
    width: 60vw;
    margin: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
