.nosotros__titulo{
    @include titulo-principal
}

.nosotros{
    @include mobile;

    &__articulo{
        
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    }
    img{
        width: 40vw;
    border-radius: 10px 10px 10px 10px;
}
&__texto{
        background: $secondary-color;
        border-radius: 10px 10px 10px 10px;
        font-size: 1rem;
        padding: 0.8rem;
        margin: 0.5rem;
        font-family: $tipografia-text;
    text-align: center;
    
}

@include MQ-tablet{
    img{
        width: 35vw;
    }
    &__texto{
        width: 50vw;
    }
    &__imagenes{
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
@include MQ-td{
    img{
        width: 25vw;
    }
    &__texto{
        width: 45vw;
    }
}

@include MQ-dekstop{
    img{
        width: 15vw;
    }
    &__texto{
        width: 35vw;
    }
}

}