/*# PREGUNTAS FRECUENTES*/

.preguntas__frecuentes-titulo{
    @include titulo-principal
}

.preguntas{
    @include mobile;

    &__frecuentes{
        @include column
    }
    
    &__foto{
        width: 55vw;
    border-radius: 10px 10px 10px 10px;

    }
    &__texto{
        background: $secondary-color;
        border-radius: 10px 10px 10px 10px;
        font-size: 0.8rem;
        padding: 1rem;
        margin: 0.5rem;
        font-family: $tipografia-text;
    }
    &__titulo{
        font-family: $tipografia-text;
        font-size: 1rem;
    }

    &__tarjetas{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 12vw;
        height: 12vh;
        gap: 1rem;
        margin-top: 0.5rem;
    padding: 0.5rem;
    }
    
}

